name: Lint
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Validate package.json
        run: |
          if ! jq empty package.json; then
            echo "âŒ Invalid package.json"
            exit 1
          fi
      - name: Install dependencies
        run: npm install
